Repository SELab-2/UGent-1, pull requests merged in 2024-05, with the labels that each got.

#144 Mockdata patch
  scripts/mockdata.py
Labels: enhancement

#116 Archive Courses
  backend/pigeonhole/apps/courses/migrations/0006_course_archived_course_year.py
  backend/pigeonhole/apps/courses/migrations/0007_alter_course_year.py
  backend/pigeonhole/apps/courses/models.py
  backend/pigeonhole/apps/courses/permissions.py
  backend/pigeonhole/apps/courses/views.py
  frontend/app/[locale]/components/CourseCard.tsx
  frontend/app/[locale]/components/CourseControls.tsx
  frontend/app/[locale]/components/CoursesGrid.tsx
  frontend/app/[locale]/components/ListView.tsx
  frontend/app/[locale]/components/YearStateComponent.tsx
  frontend/app/[locale]/course/all/page.tsx
  frontend/app/[locale]/course/archived/page.tsx
  frontend/app/[locale]/home/page.tsx
  frontend/lib/api.ts
  frontend/styles/theme.ts
  frontend/tsconfig.json
Labels: front end

#160 113 cleanup course page
  frontend/app/[locale]/components/AddProjectButton.tsx
  frontend/app/[locale]/components/CourseBanner.tsx
  frontend/app/[locale]/components/CreateCourseForm.tsx
  frontend/app/[locale]/components/EditCourseForm.tsx
  frontend/app/[locale]/components/course_components/ArchiveButton.tsx
  frontend/app/[locale]/course/[course_id]/edit/page.tsx
  frontend/app/[locale]/course/[course_id]/page.tsx
  frontend/app/[locale]/course/add/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/lib/api.ts
  frontend/locales/en/common.json
  frontend/locales/nl/common.json
Labels: front end, Refactor frontend

#106 Frontend Tests
  frontend/__test__/project/edit/Finishbuttons.test.tsx
  frontend/__test__/project/edit/Removedialog.test.tsx
  frontend/app/[locale]/components/ListView.tsx
  frontend/cypress/e2e/teacher/project_page.cy.ts
  frontend/locales/nl/common.json
Labels: front end

#169 163 banner image
  frontend/app/[locale]/components/CourseBanner.tsx
Labels: front end, Refactor frontend

#179 Fix page loading
  frontend/app/[locale]/admin/users/[id]/edit/page.tsx
  frontend/app/[locale]/admin/users/page.tsx
  frontend/app/[locale]/components/AddProjectButton.tsx
  frontend/app/[locale]/components/CourseBanner.tsx
  frontend/app/[locale]/components/CourseControls.tsx
  frontend/app/[locale]/components/ListView.tsx
  frontend/app/[locale]/components/ProjectDetailsPage.tsx
  frontend/app/[locale]/components/SubmitDetailsPage.tsx
  frontend/app/[locale]/components/admin_components/UserList.tsx
  frontend/app/[locale]/components/project_components/finishbuttons.tsx
  frontend/app/[locale]/course/[course_id]/add_project/page.tsx
  frontend/app/[locale]/course/[course_id]/edit/page.tsx
  frontend/app/[locale]/course/[course_id]/page.tsx
  frontend/app/[locale]/course/[course_id]/students/page.tsx
  frontend/app/[locale]/course/[course_id]/teachers/page.tsx
  frontend/app/[locale]/course/add/page.tsx
  frontend/app/[locale]/course/archived/page.tsx
  frontend/app/[locale]/project/[project_id]/edit/page.tsx
  frontend/app/[locale]/project/[project_id]/edit/projectEditForm.tsx
  frontend/app/[locale]/project/[project_id]/submit/page.tsx
  frontend/lib/api.ts
Labels: enhancement, Refactor frontend

#186 Tooltip + repositioning of StatusButton
  frontend/app/[locale]/components/StatusButton.tsx
  frontend/app/[locale]/components/general/RequiredFilesList.tsx
  frontend/locales/en/common.json
  frontend/locales/nl/common.json
Labels: Refactor frontend

#149 Advanced submission evaluation (docker)
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.prod
  Makefile
  backend/entrypoint.prod.sh
  backend/entrypoint.sh
  backend/pigeonhole/apps/projects/admin.py
  backend/pigeonhole/apps/projects/migrations/0002_project_test_dockerfile.py
  backend/pigeonhole/apps/projects/migrations/0003_alter_project_test_dockerfile_and_more.py
  backend/pigeonhole/apps/projects/migrations/0003_project_test_entrypoint.py
  backend/pigeonhole/apps/projects/migrations/0004_merge_20240519_1640.py
  backend/pigeonhole/apps/projects/migrations/0005_remove_project_test_dockerfile_and_more.py
  backend/pigeonhole/apps/projects/models.py
  backend/pigeonhole/apps/submissions/admin.py
  backend/pigeonhole/apps/submissions/migrations/0005_submissions_eval_result.py
  backend/pigeonhole/apps/submissions/migrations/0006_submissions_eval_output.py
  backend/pigeonhole/apps/submissions/migrations/0007_alter_submissions_eval_result.py
  backend/pigeonhole/apps/submissions/migrations/0008_merge_20240523_0823.py
  backend/pigeonhole/apps/submissions/models.py
  backend/pigeonhole/apps/submissions/permissions.py
  backend/pigeonhole/apps/submissions/views.py
  backend/pigeonhole/settings.py
  backend/pigeonhole/tests/test_models/test_submissions.py
  backend/pigeonhole/tests/test_views/test_submission/test_admin.py
  backend/pigeonhole/tests/test_views/test_submission/test_student.py
  backend/pigeonhole/tests/test_views/test_submission/test_teacher.py
  backend/pigeonhole/tests/test_views/test_submission/test_unauthenticated.py
  backend/requirements.txt
  docker-compose.prod.yml
  docker-compose.yml
  examples/advanced-evaluation/always-succeed/Dockerfile
  examples/advanced-evaluation/fibonacci-python/Dockerfile
  examples/advanced-evaluation/fibonacci-python/eval.py
  examples/advanced-evaluation/helloworld/Dockerfile
  examples/advanced-evaluation/helloworld/correct-submission/main.sh
  examples/advanced-evaluation/helloworld/entrypoint.sh
  examples/advanced-evaluation/helloworld/expected-output/output.txt
  examples/advanced-evaluation/helloworld/incorrect-submission/main.sh
  frontend/Dockerfile
  frontend/app/[locale]/components/CourseCard.tsx
  frontend/app/[locale]/components/ListView.tsx
  frontend/app/[locale]/components/SubmissionDetailsPage.tsx
  frontend/app/[locale]/components/SubmitDetailsPage.tsx
  frontend/app/[locale]/project/[project_id]/edit/projectEditForm.tsx
  frontend/lib/api.ts
  frontend/locales/en/common.json
  frontend/locales/nl/common.json
  scripts/eval_test.py
  scripts/fibonacci_correct/main.py
  scripts/fibonacci_incorrect/main.py
  scripts/submit.py
Labels: enhancement

#195 Latest group submissions
  backend/pigeonhole/apps/projects/permissions.py
  backend/pigeonhole/apps/projects/views.py
  backend/pigeonhole/tests/test_views/test_user/test_teacher.py
  frontend/app/[locale]/components/LatestSubmissionList.tsx
  frontend/app/[locale]/components/ListView.tsx
  frontend/app/[locale]/components/ProjectDetailsPage.tsx
  frontend/lib/api.ts
Labels: enhancement

#197 Code documentation
  frontend/__test__/AccountMenu.test.tsx
  frontend/__test__/course_components/CancelButton.test.tsx
  frontend/app/[locale]/components/AccountMenu.tsx
  frontend/app/[locale]/components/AddButton.tsx
  frontend/app/[locale]/components/AddProjectButton.tsx
  frontend/app/[locale]/components/BackButton.tsx
  frontend/app/[locale]/components/CASButton.tsx
  frontend/app/[locale]/components/CopyToClipboardButton.tsx
  frontend/app/[locale]/components/CourseBanner.tsx
  frontend/app/[locale]/components/CourseCard.tsx
  frontend/app/[locale]/components/CourseControls.tsx
  frontend/app/[locale]/components/CourseDetails.tsx
  frontend/app/[locale]/components/CoursesGrid.tsx
  frontend/app/[locale]/components/CreateCourseForm.tsx
  frontend/app/[locale]/components/EditCourseButton.tsx
  frontend/app/[locale]/components/EditCourseForm.tsx
  frontend/app/[locale]/components/EditUserForm.tsx
  frontend/app/[locale]/components/Footer.tsx
  frontend/app/[locale]/components/GroupSubmissionList.tsx
  frontend/app/[locale]/components/HomeButton.tsx
  frontend/app/[locale]/components/JoinCourseWithToken.tsx
  frontend/app/[locale]/components/LanguageSelect.tsx
  frontend/app/[locale]/components/ListView.tsx
  frontend/app/[locale]/components/LoginCard.tsx
  frontend/app/[locale]/components/NavBar.tsx
  frontend/app/[locale]/components/ProfileCard.tsx
  frontend/app/[locale]/components/ProfileEditCard.tsx
  frontend/app/[locale]/components/ProjectCalendar.tsx
  frontend/app/[locale]/components/ProjectDetailsPage.tsx
  frontend/app/[locale]/components/ProjectReturnButton.tsx
  frontend/app/[locale]/components/ProjectSubmissionsList.tsx
  frontend/app/[locale]/components/StatusButton.tsx
  frontend/app/[locale]/components/StudentCoTeacherButtons.tsx
  frontend/app/[locale]/components/SubmissionDetailsPage.tsx
  frontend/app/[locale]/components/SubmitDetailsPage.tsx
  frontend/app/[locale]/components/YearStateComponent.tsx
  frontend/app/[locale]/components/admin_components/UserList.tsx
  frontend/app/[locale]/components/course_components/ArchiveButton.tsx
  frontend/app/[locale]/components/course_components/CancelButton.tsx
  frontend/app/[locale]/components/course_components/DeleteButton.tsx
  frontend/app/[locale]/components/general/ItemsList.tsx
  frontend/app/[locale]/components/general/RequiredFilesList.tsx
  frontend/app/[locale]/components/project_components/testfiles.tsx
  frontend/app/[locale]/components/project_components/title.tsx
  frontend/app/[locale]/components/project_components/uploadButton.tsx
  frontend/app/[locale]/components/user_components/CancelButton.tsx
  frontend/app/[locale]/components/user_components/DeleteButton.tsx
Labels: bug, documentation
